*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-family: 'Kalam', cursive;
    font-family: 'Space Grotesk', sans-serif;
    color:rgb(66, 7, 69);
}

header {
    height: 15%;
    width: 100%;
    display: block;
    background-color: rgb(145, 114, 246);
    font-size: 10vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

main {
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(225, 180, 229);
}
/* ---------------------------------------------------------------- */
.other-content {
    width: 40%;
    display: flex;
    flex-direction: column;
    background-color: skyblue;
}

form {
    height: 50%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    background-color: antiquewhite;
    
}
/* don't forget ::placeholder, see ideabox */
.submit-button,
.user1,
.user2 {
    width: 50%;
}

aside {
    height: 50%;
    width: 100%;
    background-color: azure;
    text-indent: 3em;
}

hr {
    color:aqua;
}

h2,
h3 {
    font-family: 'Kalam', cursive;
    font-size: 1em;
    margin: 0;
}
.vl {
    border-left: 1px solid red;
    height: 20%;
    /* position: relative; */
    left: 50%;
    margin-left: 2em;
    top: 0;
}

.blank {
    color: azure;
}

.dot {
    height: 1.2em;
    width:  1.2em;
    background-color: #666;
    border-radius: 50%;
    display: inline-block;
    margin: 1em;
    margin-top: 0;
    margin-bottom: 0;
}
/* ---------------------------------------------------------------------- */
/* button stuff goes here */
/* .button-field {
    width: 60%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
} */
button {
    text-align: center;
    border: none;
    border-radius: 15px;
    background-color: rgb(178, 119, 181);
    box-shadow: 0 9px #999;
    cursor: pointer;
}
button:focus {
    font-weight: bold;
}

.numpad-7 {
    grid-area: button7;
}
.numpad-8 {
    grid-area: button8;
}
.numpad-9 {
    grid-area: button9;
}
.numpad-4 {
    grid-area: button4;
}
.numpad-5 {
    grid-area: button5;
}
.numpad-6 {
    grid-area: button6;
}
.numpad-1 {
    grid-area: button1;
}
.numpad-2 {
    grid-area: button2;
}
.numpad-3 {
    grid-area: button3;
}
.button-field {
    width: 60%;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "button7 button8 button9"
        "button4 button5 button6"
        "button1 button2 button3";
    gap: 2em;
    background-color: rgb(162, 207, 239);    
}
    /* ^that's technically a section^ */

/* .numpad-9 {
    width: 10em;
    height: 10em;
    text-align: center;
    transition-duration: 0.4s;
} */


.numpadBtns:hover {
    background-color: rgb(250, 178, 178);
    color: white;
} 
.numpadBtns {
    font-size: xx-large;
    color:rgb(12, 124, 31)
}

.start-button {
    width: 10em;
    padding: 1em 2em;
}
.start-button:hover {
    background-color: aqua;
}
.start-button:active {
    background-color: blue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.start-button:disabled {
    background-color: rgb(82, 82, 175);
}
/* .disabled { ---> figure out how to activate this, solves the double-select problem
    opacity:  0.6;
    cursor: not-allowed;
} */

/* ^this is more of a placeholder ^ */