*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Mulish", sans-serif;
    src: url();
    font-weight: normal;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: block;
}

main {
    display: flex;
    flex-direction: row;
}

.other-content {
    display: flex;
    flex-direction: column;
}

.button-field {
    display: flex;
}

button:focus {
    font-weight: bold;
}
/* this is more of a placeholder ^ */