*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Mulish", sans-serif;
    src: url();
    font-weight: normal;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: block;
}

main {
    display: flex;
    flex-direction: row;
}

.other-content {
    display: flex;
    flex-direction: column;
}
/* button stuff goes here */
.button-field {
    display: flex;
}
    /* ^that's technically a section^ */

.numpad-9 {
    transition-duration: 0.4s;
}
.numpad-9:hover {
    background-color: rgb(225, 112, 112);
    color: white;
}

/* .disabled { ---> figure out how to activate this, solves the double-select problem
    opacity:  0.6;
    cursor: not-allowed;
} */

button:focus {
    font-weight: bold;
}
/* this is more of a placeholder ^ */